{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="text-center vertical-center">
  <h1 class="mt-5">{% trans "Sair" %}</h1>

  <p class="mt-3">{% trans 'Certeza que deseja sair?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary mt-3" type="submit"><a href="{% url 'account_login' %}"></a>{% trans 'Sair' %}</button>
  </form>
</div>

{% endblock content %}
